<mat-toolbar>
  <span>Item Receipts</span>
</mat-toolbar>
<p>
  <button mat-raised-button color="danger">
    <mat-icon>create</mat-icon>
  </button>
</p>

<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col">No.</th>
    <th scope="col">Date</th>
    <th scope="col">Company</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let itemShipment of itemReceiptList; index as i">
    <th scope="row">{{i+1}}</th>
    <th scope="row">{{'created: '+ itemShipment.stavkaPrimkePrimka.datum+' '+itemShipment.stavkaPrimkePrimka.primkaFirme.nazivFirme}}</th>
    <th scope="row">{{'[' + itemShipment.stavkaPrimkeRobe.nazivArtikla + ']-' + itemShipment.stavkaPrimkeRobe.cijena}}</th>
    <th scope="row">{{'[' + itemShipment.kolicina + ']-' + itemShipment.stavkaPrimkeRobe.cijena}}</th>
  </tr>
  </tbody>
</table>
