<mat-toolbar style="background-color: black">
  <span>Datastore</span>
</mat-toolbar>
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Custom Toolbar</span>
  </mat-toolbar-row>

<!--  <mat-toolbar-row>-->
<!--    <span>Second Line</span>-->
<!--    <span class="example-spacer"></span>-->
<!--    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>-->
<!--  </mat-toolbar-row>-->
  <mat-toolbar-row>
    <button mat-icon-button class="btn mat-raised-button" routerLink="/"
            matTooltip="Main MEnu"
            aria-label="Example icon-button with companies icon">
      <mat-icon>backspace</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="btn mat-raised-button" routerLink="/companies/view"
            matTooltip="Comapnies"
            aria-label="Example icon-button with companies icon">
      <mat-icon>work</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="btn mat-raised-button" routerLink="/articles/view"
            aria-label="Example icon-button with companies icon">
      <mat-icon>disc_full</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="btn mat-raised-button" routerLink="/receipts/view"
            aria-label="Example icon-button with companies icon">
      <mat-icon>archive</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="btn mat-raised-button" routerLink="/shipments/view"
            aria-label="Example icon-button with companies icon">
      <mat-icon>unarchive</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="btn mat-raised-button" routerLink="/itemShipments/view"
            aria-label="Example icon-button with companies icon">
      <mat-icon>import_export</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="btn mat-raised-button" routerLink="itemShipments/view"
            aria-label="Example icon-button with companies icon">
      <mat-icon>assignment_return</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="btn mat-raised-button" routerLink="itemReceipts/view"
            aria-label="Example icon-button with companies icon">
      <mat-icon>assignment_returned</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button mat-raised-button color="primary" (click)="openDialog()">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>

<!--<mat-toolbar color="primary">-->
<!--  <button mat-icon-button class="btn mat-raised-button" routerLink="/companies/mainMenu"-->
<!--          aria-label="Example icon-button with companies icon">-->
<!--    <mat-icon>backspace</mat-icon>-->
<!--  </button>-->
<!--  <span></span>-->
<!--  <span class="example-spacer"></span>-->
<!--  <button mat-icon-button class="btn mat-raised-button" routerLink="/companies/view"-->
<!--          aria-label="Example icon-button with companies icon">-->
<!--    <mat-icon>work</mat-icon>-->
<!--  </button>-->
<!--  <span class="example-spacer"></span>-->
<!--  <button mat-icon-button class="btn mat-raised-button" routerLink="/articles/view"-->
<!--          aria-label="Example icon-button with companies icon">-->
<!--    <mat-icon>disc_full</mat-icon>-->
<!--  </button>-->
<!--  <span class="example-spacer"></span>-->
<!--  <button mat-icon-button class="btn mat-raised-button" routerLink="/receipts/view"-->
<!--          aria-label="Example icon-button with companies icon">-->
<!--    <mat-icon>archive</mat-icon>-->
<!--  </button>-->
<!--  <span class="example-spacer"></span>-->
<!--  <button mat-icon-button class="btn mat-raised-button" routerLink="/shipments/view"-->
<!--          aria-label="Example icon-button with companies icon">-->
<!--    <mat-icon>unarchive</mat-icon>-->
<!--  </button>-->
<!--  <span class="example-spacer"></span>-->
<!--  <button mat-icon-button class="btn mat-raised-button" routerLink="/articles/view"-->
<!--          aria-label="Example icon-button with companies icon">-->
<!--    <mat-icon>import_export</mat-icon>-->
<!--    <p>Item shipment</p>-->
<!--  </button>-->
<!--  <span class="example-spacer"></span>-->
<!--  <button mat-icon-button class="btn mat-raised-button" routerLink="/articles/view"-->
<!--          aria-label="Example icon-button with companies icon">-->
<!--    <mat-icon>assignment_return</mat-icon>-->
<!--  </button>-->
<!--  <span class="example-spacer"></span>-->
<!--  <button mat-icon-button class="btn mat-raised-button" routerLink="/articles/view"-->
<!--          aria-label="Example icon-button with companies icon">-->
<!--    <mat-icon>assignment_returned</mat-icon>-->
<!--  </button>-->
<!--  <span class="example-spacer"></span>-->
<!--  <button mat-raised-button color="primary" (click)="openDialog()">Logout</button>-->

  <!--  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">-->
  <!--    <mat-icon>favorite</mat-icon>-->
  <!--  </button>-->
  <!--  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">-->
  <!--    <mat-icon>share</mat-icon>-->
  <!--  </button>-->
<!--</mat-toolbar>-->
