<mat-toolbar>
  <button mat-raised-button color="primary" routerLink="/" matTooltip="Main Menu">Main
  </button>
  <span class="example-spacer"></span>
  <div>DATASTORE</div>
  <span class="example-spacer"></span>
  <button mat-raised-button color="primary">Logout</button>
</mat-toolbar>
<mat-toolbar style="margin-left: 8px;" color="primary">
  <mat-toolbar-row>
    <span>Companies & Articles</span>
    <button mat-icon-button class="btn mat-raised-button" routerLink="/companies/view"
            matTooltip="Companies">
      <mat-icon>work</mat-icon>
    </button>
    <button mat-icon-button class="btn mat-raised-button" routerLink="/articles/view"
            matTooltip="Articless">
      <mat-icon>disc_full</mat-icon>
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span>Receipts</span>
    <button mat-icon-button class="btn mat-raised-button" routerLink="/receipts/view"
            matTooltip="Receipts">
      <mat-icon>archive</mat-icon>
    </button>
    <button mat-icon-button class="btn mat-raised-button" routerLink="itemReceipts/view"
            matTooltip="Item Receipts">
      <mat-icon>assignment_returned</mat-icon>
    </button>
    <button mat-icon-button class="btn mat-raised-button" routerLink="/cancelItemReceipts/view"
            matTooltip="Cancel Item Receipts">
      <mat-icon>import_export</mat-icon>
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span>Shipments</span>
    <button mat-icon-button class="btn mat-raised-button" routerLink="/shipments/view"
            matTooltip="Shipments">
      <mat-icon>unarchive</mat-icon>
    </button>
    <button mat-icon-button class="btn mat-raised-button" routerLink="itemShipments/view"
            matTooltip="Item Shipments">
      <mat-icon>assignment_return</mat-icon>
    </button>
    <button mat-icon-button class="btn mat-raised-button" routerLink="/cancelItemShipments/view"
            matTooltip="Cancel Item Shipments">
      <mat-icon>import_export</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
