<h1 mat-dialog-title>Update Article</h1>
<div mat-dialog-content>
  <form [formGroup]="articleForm">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input formControlName="articleName" matInput placeholder="Name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <input formControlName="articlePrice" matInput type="number" placeholder="0">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Amount</mat-label>
      <input formControlName="articleAmount" matInput type="number" placeholder="0">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Unit of measure</mat-label>
      <input formControlName="unitOfMeasure" matInput placeholder="UOM">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Describe</mat-label>
      <input formControlName="describe" matInput placeholder="Describe">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>{{buttonCancel}}</button>
  <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="ngUpdateArticleDTO()">{{buttonUpdate}}</button>
</div>
